
<div class="circle"></div>
<div class="cir"></div>

<div class="footer">
  <div class="container">
    <div class="col-md-3 c1">
      <h3><img src="/assets/logo.png" alt=""></h3>
      <p>Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.</p>
    </div>
    <div class="col-md-3">
      <h3>INFORMATION</h3>
      <div class="c1">
        <span>About</span>
        <span>Order</span>
        <span>Contact Us</span>
        <span>Login</span>
        <span>Returns</span>
        <span>Site Map</span>
      </div>
    </div>
    <div class="col-md-3">
      <h3>TAGS</h3>
      <div class="c1">
        <span>node</span>
        <span>vue</span>
        <span>react</span>
        <span>chunk</span>
        <span>angular</span>
        <span>webpack</span>
      </div>
    </div>
    <div class="col-md-3">
      <h3>NEWSLETTER</h3>
      <div class="c2">
        Sign up for News Letter
        <input type="text" placeholder="Enter you E-mail"><br>
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</div>
